body {
  color: white;
  font-size: 1.25em;
  font-family: Roboto;
  background-image: url(../pics/bg.jpg);
  background-color: #19171c;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  }

/* Navigation Bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7F867B;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 120%;
}

ul.navbar li a:hover {
  background-color: #D4C8BE;
}

a.active {
  font-weight: 700;
  background-color: #AF9F8C;
}

/* Header Image */
img.headerimg {
  width: 100%;
  height: auto;
}

/* Site content */
.content {
margin-top: 2vh;
margin-left: 2vw;
}


/* Headshot Image */
img.headshot {
border-radius: 50%;
width: 15vw;
height: auto;
border: 0.15em solid #E3E4E0;
float: right;
margin-right: 20%;
margin-top: 1%;
}


a:hover {
color: #D4C8BE;
}

a{
color: #E3E4E0;
text-decoration: none;
}

.footer {
background-color: #323531;
font-size: 75%;
padding: 1em;
margin-top: 2vh;
text-align: center;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.gallery {
border: 0.15em solid #E3E4E0;
width: 25vw;
height: auto;
}

.vidmargin {
  margin-bottom: 2vh;
}

.portfoliodescription {
  float: right;
    margin-right: 12vw;
    margin-top: 6vh;
}

@media only screen and (max-width: 1080px) {
  .contactbanner {
    max-width: 80vw;
  }
}

.contactinfo {
  display:inline-block;
}
