/* General Layout */
html, body {
  margin: 0; padding: 0;
}

body {
  color: white;
  font-size: 1.25em;
  font-family: Roboto;
  background-color: #19171c;
  }

/* Navigation Bar */
ul.navbar {
  list-style-type: none;
  overflow: hidden;
  background-color: #7F867B;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 120%;
}

ul.navbar li a:hover {
  background-color: #D4C8BE;
}

a.active {
  font-weight: 700;
  background-color: #AF9F8C;
}

/* Header Image */
img.headerimg {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* Site content */
.content {
margin-top: 2vh;
margin-left: 2vw;
}

.text {
max-width: 50%;
}

.intro {
  margin-bottom: 2em;
}

.notfound {
  font-size: 2em;
  font-weight: bold;
}

/* Headshot Image */
img.headshot {
border-radius: 50%;
width: 15vw;
height: auto;
border: 0.15em solid #E3E4E0;
float: right;
margin-right: 20%;
margin-top: 2.5%;
}

/* Link style */
a:hover {
color: #D4C8BE;
}

a{
color: #E3E4E0;
text-decoration: none;
}

/* Footer Layout */
.footer {
background-color: #323531;
font-size: 75%;
padding: 1em;
margin-top: 2vh;
text-align: center;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover{
  color: #E3E4E0;
  font-weight: bold;
}

/* Media layout */

video {
  margin-top: 1em;
}

.gallery {
border: 0.15em solid #E3E4E0;
width: 25vw;
height: auto;
max-width: 80%;
}

.vidstyle {
  margin-bottom: 2vh;
  max-width: 80%;
}

.portfoliodescription {
  float: right;
    margin-right: 12vw;
    margin-top: 6vh;
}

.infobanner {
    margin-bottom: 1em;
}

/* Responsive */
@media only screen and (max-width: 1080px) {
  .infobanner {
    max-width: 80vw;
  }
  ul.navbar li {
    font-size: 75%;
  }
  img.headshot {
    margin-right: 7.5%;
    width: 25%;
    height: auto;
  }
  .text {
    max-width: 90%;
  }

}
